*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn-primary{
  background-color: #335EEA;
}
.row-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.row-content .col-5 .fs-1{
  font-size: 3rem !important;
}
.row-content .col-5 p{
  font-size: 1.3rem !important;
  color: #97A7BD;
}
.row-content .col-5 .btn{
  font-size: 1.1rem;
}
.row-content .col-5 .btn-light{
  font-size: 1.1rem;
  color: #335EEC;
  background-color: #EAEFFD;
}