*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn-primary{
  background-color: #335EEA;
}
.col-4 .bi-list{
  display: none;
}
@media screen and (max-width: 992px) {
  .col-4 .bi-list{
    display: inline;
  }  
}
@media screen and (max-width: 992px) {
  .btn-primary,
  .col-1{
    visibility: hidden;
  }  
}
.row-content{
  align-items: center;
}